.cproject
.project
.settings/
.vscode/.cortex-debug.*
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
build/
__pycache__/
*.pyc
*.d
*.o
*.axf
*.bin
*.lst
*.map
lib/
am_bsp_pins.c
am_bsp_pins.h